*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background: url("/images/trees.jpg");
    background-size: cover;
    background-position: 50% 60%;
    background-attachment: fixed;
    color: white;
    font-family: Quicksand, sans-serif;
    overflow-y: hidden;
}